html {
    border: 5px solid #e75a7c;
}

.logo {
    /* padding-left: 20px; */
    padding-bottom: 0;
    width: 80px;
    height: 80px;
}

nav {
    padding-top: 30px;
}

nav a {
    /* padding: 15px; */
    font-size: 15px;
}