/* NAVIGATION ITEMS */

.logo-container {
    width: 40%;
}

#burger {
    display: none;
}

.burger-nav-container {
    display: none;
}

.main-nav ul li {
    padding: 0 8px 0 8px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #54a7c4;
    font-size: 15px;
    text-transform: uppercase;
    display: block;
    padding-top: 70px;
}

.main-nav a:hover {
    color: #e75a7c;
}


/* CONTENT SECTION */

#content-section {
    padding-top: 150px;
    margin: 15px;
}


/* MY PROCESS PAGE */

.fa-process {
    font-size: 50px;
    padding: 15px;
    display: block;
    color: #e75a7c;
    width: 10%;
}

.design-steps {
    padding: 20px;
    width: 90%;
}


/* PROJECTS PAGE */

.projects-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.project-description {
    padding-left: 30px;
}

.project-description {
    width: 50%;
}