body,
html {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
    color: #2d3c49;
    /* border: 3px solid #e75a7c; */
    min-width: 300px;
}

h1 {
    font-size: 30px;
    padding: 0;
    margin: 0;
    font-weight: 100;
    line-height: 1.6;
    color: #5f5b6b;
}

h2 {
    font-size: 30px;
    color: #5f5b6b;
    font-family: 'Lobster', cursive;
}

.name {
    font-family: 'Lobster', cursive;
    color: #e75a7c;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    /* position: fixed;
    top: 0; */
}

.logo {
    width: 30px;
    height: 30px;
}

.main-nav {
    display: flex;
    flex-wrap: row wrap;
    flex-grow: 1;
    justify-content: flex-end;
    z-index: 1000;
    width: auto;
    height: 60px;
    padding-top: 20px;
    margin: 0;
    background-color: #2c363f;
    font-weight: bold;
}

.main-nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.main-nav ul li {
    padding: 5px;
}

.main-nav ul li a {
    text-decoration: none;
    color: #54a7c4;
    font-size: 15px;
    text-transform: uppercase;
}

.main-nav a:hover {
    color: #e75a7c;
    text-decoration: underline;
}

.burger {
    color: white;
    font-size: 25px;
}

.burger:hover {
    color: #e75a7c;
}

.hero-section {
    /* width: 100%; */
    padding: 40px 0 20px 0;
    margin: 5px;
    margin: 15px;
}

.hero-section h1 {
    padding-bottom: 30px;
}

.hero-img {
    max-width: 100%;
}

.about-section {
    padding-bottom: 30px;
    letter-spacing: 1px;
    line-height: 1.6;
    margin: 15px;
}

.email-section {
    border-top: solid 3px #e75a7c;
    padding: 50px 0 40px 0;
    margin: 15px;
    text-align: center;
}

.email-section h1 {
    font-family: 'Lobster', cursive;
}

.email-section button {
    margin: 30px;
    padding: 20px;
    border: 2px solid #e75a7c;
    color: inherit;
    background-color: transparent;
    font: inherit;
    cursor: pointer;
    border-radius: 7%;
}

.email-section button:hover {
    text-decoration: underline;
}

footer p {
    text-align: center;
    font-size: 15px;
}