.container {
    max-width: 100%;
    margin-right: 13%;
    margin-left: 13%;
}

h1 {
    font-size: 45px;
}

.logo {
    width: 100px;
    height: 100px;
}

.main-nav {
    height: 80px;
}

.main-nav ul {
    margin-right: 80px;
}

.main-nav li {
    padding-right: 30px;
}