.burger {
    display: none;
}

.main-nav {
    height: 80px;
    padding-top: 20px;
}

.main-nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.main-nav ul li {
    padding: 10px;
}

.main-nav ul li a {
    display: block;
    font-size: 15px;
}

.logo {
    width: 125px;
    height: 125px;
}

.burger-nav-container {
    display: none;
}