.reception-req li {
    letter-spacing: 1px;
    line-height: 1.6;
    padding: 3px;
}

.project-container-PAM {
    max-width: 1000px;
    margin-left: 5%;
    margin-right: 5%;
}

.project-container-UXCase {
    max-width: 800px;
    margin-left: 10%;
    margin-right: 10%;
}

.project-container-PSD {
    max-width: 700px;
    margin-left: 15%;
    margin-right: 15%;
}

.project-capture {
    max-width: 100%;
    padding: 10px 0 10px 0;
}